<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.menu.dao.MenuDAO">
	
	<select id = "menuList" resultType = "com.menu.dto.MenuDTO">
	SELECT D1.MENU_ID AS D1_ID, CONCAT('>', D1.MENU_NM)AS D1_NM
		 , D2.MENU_ID AS D2_ID, D2.MENU_NM AS D2_NM
		 , D3.MENU_ID AS D3_ID, D3.MENU_NM AS D3_NM
		 , D4.MENU_ID AS D4_ID, D4.MENU_NM AS D4_NM
		 , D5.MENU_ID AS D5_ID, D5.MENU_NM AS D5_NM
	  FROM DEPTH_1 AS D1 LEFT JOIN DEPTH_2 AS D2 ON D2.LFT BETWEEN D1.LFT AND D1.RGT
						LEFT JOIN DEPTH_3 AS D3 ON D3.LFT BETWEEN D2.LFT AND D2.RGT
						LEFT JOIN DEPTH_4 AS D4 ON D4.LFT BETWEEN D3.LFT AND D3.RGT
						LEFT JOIN DEPTH_5 AS D5 ON D5.LFT BETWEEN D4.LFT AND D4.RGT	
  ORDER BY D2.MENU_ID, D3.MENU_ID, D4.MENU_ID;
	</select>

	<select id = "upMenuList" resultType = "com.menu.dto.MenuDTO">
	SELECT NODE.MENU_ID, CONCAT(REPEAT('─',(COUNT(PARENT.MENU_NM) - 1)*3), NODE.MENU_NM) AS MENU_NM
	  FROM MENU AS NODE
  		 , MENU AS PARENT
	 WHERE NODE.LFT BETWEEN PARENT.LFT AND PARENT.RGT
  GROUP BY NODE.MENU_NM, NODE.LFT
  ORDER BY NODE.LFT;
 	 </select>
		
	<select id = "getMyleft" resultType = "com.menu.dto.MenuDTO">
	SELECT @myLeft := LFT
	  FROM MENU
	 WHERE MENU_ID = #{up_menu_id};
	</select>
	<update id = "updateRgt">
	UPDATE MENU 
	   SET RGT = RGT + 2 
	 WHERE RGT > @myLeft;
	</update>
	<update id = "updateLft">
	UPDATE MENU 
	   SET LFT = LFT + 2 
	 WHERE LFT > @myLeft;
	</update>
	<insert id = "addMenu">
		<selectKey keyProperty = "menu_id" order = "BEFORE" resultType = "int">
			SELECT MAX(MENU_ID) + 1 MENU_ID from MENU;
		</selectKey>
	INSERT INTO MENU(
		   MENU_ID
  		 , MENU_NM
		 , LFT
		 , RGT
		 , UP_MENU_ID
		 , UUID			
	)VALUES (
		   #{menu_id}
		 , #{menu_nm}
		 , @myLeft + 1
		 , @myLeft + 2
		 , #{up_menu_id}
		 , #{uuid}
	);
	</insert>

	<insert id = "addFile" >
INSERT INTO FILE
	 VALUES (#{menu_id}
	 	   , #{file_nm}
		   , #{file_path});
	</insert>

	<select id = "detailMenu" resultType = "com.menu.dto.MenuDTO">
	 SELECT MENU_ID
   	   	  , MENU_NM
   	   	  , UUID
   	   FROM MENU AS CM
   	  WHERE CM.MENU_ID = #{menu_id};
	</select>
	
	<update id = "menuUpdate">
	UPDATE MENU 
	   SET MENU_NM = #{menu_nm}
	 WHERE MENU_ID = #{menu_id};	
	</update>

	<select id = "menuDepth" resultType = "com.menu.dto.MenuDTO">
 	SELECT PARENT.MENU_NM AS MENU_NM
      FROM MENU AS NODE
	     , MENU AS PARENT
	 WHERE NODE.LFT BETWEEN PARENT.LFT AND PARENT.RGT
	   AND NODE.MENU_ID = #{menu_id}
	   AND PARENT.MENU_NM != 'ROOT';
	</select>
	
		<select id = "getLftRgt" resultType = "com.menu.dto.MenuDTO">
			SELECT LFT, RGT
			  FROM MENU
			 WHERE MENU_ID = #{menu_id};
		</select>
<!-- _____________________Delete_Node__________________ -->	
	<delete id = "allFileDelete">
	DELETE 
	  FROM FILE
	 WHERE MENU_ID = #{menu_id}
	</delete>	
	<select id = "getNodes" resultType = "com.menu.dto.MenuDTO">
	SELECT @myLeft := LFT , @myRight := RGT, @myWidth := RGT - LFT + 1 
	  FROM MENU
	 WHERE MENU_ID = #{menu_id};
	</select>

	<delete id= "deleteMenu">
	DELETE 
	  FROM MENU 
	 WHERE LFT BETWEEN @myLeft AND @myRight;
	</delete>
	
	<update id = "updateRgtDel">
	UPDATE MENU 
	   SET RGT = RGT - @myWidth 
	 WHERE RGT > @myRight; 
	</update>

	<update id = "updateLftDel">
	UPDATE MENU 
	   SET LFT = LFT - @myWidth 
	 WHERE LFT > @myLeft;
	 </update>
<!-- ________________________________________________________ -->

<!-- _____________________Delete_Parent__________________ -->
	<delete id= "deleteParentMenu">
	DELETE 
	  FROM MENU 
	 WHERE LFT = @myLeft;
	</delete>
	<update id = "updateParentRgtLftDel">
	UPDATE MENU 
	   SET RGT = RGT -1 , LFT = LFT - 1
	 WHERE LFT BETWEEN @myLeft AND @myRight;
	</update>
	<update id = "updateParentRgtDel">
	UPDATE MENU
	   SET RGT = RGT - 2
	 WHERE RGT > @myRight;
	</update>
	<update id = "updateParentLftDel">
	UPDATE MENU
	   SET LFT = LFT - 2
	 WHERE LFT > @myRight;
	 </update>	
<!-- ________________________________________________________ -->	
	<select id = "fileSelect" resultType = "com.menu.dto.FileDTO">
	SELECT *
	  FROM FILE
	 WHERE MENU_ID = #{menu_id};
	</select>
	
	<delete id = "fileDelete">
	DELETE 
	  FROM FILE
	 WHERE FILE_PATH = #{file_path}
  	   AND FILE_NM = #{file_nm};
	</delete>
</mapper>